name: Deploy to EC2

on:
  push:
    branches:
      - main 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      # 1. 소스 코드 체크아웃
      - name: Checkout
        uses: actions/checkout@v3

      # 2. JDK 17 설치
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. Gradle 실행 권한 부여
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      # 4. Gradle로 프로젝트 빌드
      - name: Build with Gradle
        run: ./gradlew build

      # 5. 빌드된 Jar 파일과 환경변수 파일을 EC2로 전송
      - name: Deploy to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.AWS_EC2_HOST }}            
          username: ${{ secrets.AWS_EC2_USERNAME }}     
          key: ${{ secrets.AWS_SSH_PRIVATE_KEY }}       
          source: "./build/libs/*.jar,./deploy.sh"
          target: "/home/${{ secrets.AWS_EC2_USERNAME }}/"

      # 6. EC2에 접속하여 배포 스크립트 실행
      - name: Execute deployment script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_EC2_HOST }}
          username: ${{ secrets.AWS_EC2_USERNAME }}
          key: ${{ secrets.AWS_SSH_PRIVATE_KEY }}
          script: |
            echo "${{ secrets.APPLICATION_ENV }}" > /home/${{ secrets.AWS_EC2_USERNAME }}/matzip.env
            chmod +x /home/${{ secrets.AWS_EC2_USERNAME }}/deploy.sh
            /home/${{ secrets.AWS_EC2_USERNAME }}/deploy.sh


